<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AnyUprightXPCService</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>AnyUpright</string>
			<key>uuid</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>AnyUprightHorizonManualPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Horizon Manual Name</string>
			<key>group</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
				<key>infoString</key>
				<string>AnyUpright::Horizon Manual Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
				<string>FxAnalyzer</string>
			</array>
			<key>uuid</key>
			<string>2E32E3C2-91C7-44D4-A0AC-0E87832A86A1</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightQuadManualPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Source Quad Name</string>
			<key>group</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
				<key>infoString</key>
				<string>AnyUpright::Source Quad Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
				<string>FxAnalyzer</string>
			</array>
			<key>uuid</key>
			<string>9BB4C7D9-9384-4C8F-927D-4F716DA78B14</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightQuadOutputCornersPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Outer Corners Name</string>
			<key>group</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
			<key>infoString</key>
			<string>AnyUpright::Outer Corners Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>81C621CF-4119-46E9-BC04-47A1539A8B54</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightQuadManualOSCPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Source Quad OSC Name</string>
			<key>group</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
			<key>infoString</key>
			<string>AnyUpright::Source Quad OSC Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>9BB4C7D9-9384-4C8F-927D-4F716DA78B14</string>
			</array>
			<key>uuid</key>
			<string>1E97E435-F4A5-4252-8B14-86F44BAD0BF7</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightQuadOutputCornersOSCPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Outer Corners OSC Name</string>
			<key>group</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
			<key>infoString</key>
			<string>AnyUpright::Outer Corners OSC Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>81C621CF-4119-46E9-BC04-47A1539A8B54</string>
			</array>
			<key>uuid</key>
			<string>4CA1AA25-31BD-4AB8-BF52-A379917B80E3</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightUprightManualPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Upright Manual Name</string>
			<key>group</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
			<key>infoString</key>
			<string>AnyUpright::Upright Manual Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
				<string>FxAnalyzer</string>
			</array>
			<key>uuid</key>
			<string>A8F7169F-B5C7-44EB-B0AD-5F9178DCE9AB</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightUprightManualOSCPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Upright Manual OSC Name</string>
			<key>group</key>
			<string>DA62260F-B8B9-498A-A220-E33F20DE872C</string>
			<key>infoString</key>
			<string>AnyUpright::Upright Manual OSC Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>A8F7169F-B5C7-44EB-B0AD-5F9178DCE9AB</string>
			</array>
			<key>uuid</key>
			<string>FEF0BD6C-BB81-4E37-B5BD-8C163FBB7782</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
