<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AnyUprightXPCService</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>$(AU_PLUGIN_GROUP_NAME)</string>
			<key>uuid</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>AnyUprightHorizonPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Horizon Name$(AU_PLUGIN_NAME_KEY_SUFFIX)</string>
			<key>group</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
				<key>infoString</key>
				<string>AnyUpright::Horizon Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
				<string>FxAnalyzer</string>
			</array>
			<key>uuid</key>
			<string>$(AU_HORIZON_PLUGIN_UUID)</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightInnerStretchPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Inner Stretch Name$(AU_PLUGIN_NAME_KEY_SUFFIX)</string>
			<key>group</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
				<key>infoString</key>
				<string>AnyUpright::Inner Stretch Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>$(AU_INNER_STRETCH_PLUGIN_UUID)</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightOuterStretchPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Outer Stretch Name$(AU_PLUGIN_NAME_KEY_SUFFIX)</string>
			<key>group</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
			<key>infoString</key>
			<string>AnyUpright::Outer Stretch Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>$(AU_OUTER_STRETCH_PLUGIN_UUID)</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightInnerStretchOSCPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Inner Stretch OSC Name$(AU_PLUGIN_NAME_KEY_SUFFIX)</string>
			<key>group</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
			<key>infoString</key>
			<string>AnyUpright::Inner Stretch OSC Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>$(AU_INNER_STRETCH_PLUGIN_UUID)</string>
			</array>
			<key>uuid</key>
			<string>$(AU_INNER_STRETCH_OSC_UUID)</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightOuterStretchOSCPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Outer Stretch OSC Name$(AU_PLUGIN_NAME_KEY_SUFFIX)</string>
			<key>group</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
			<key>infoString</key>
			<string>AnyUpright::Outer Stretch OSC Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>$(AU_OUTER_STRETCH_PLUGIN_UUID)</string>
			</array>
			<key>uuid</key>
			<string>$(AU_OUTER_STRETCH_OSC_UUID)</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightUprightPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Upright Name$(AU_PLUGIN_NAME_KEY_SUFFIX)</string>
			<key>group</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
			<key>infoString</key>
			<string>AnyUpright::Upright Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
				<string>FxAnalyzer</string>
			</array>
			<key>uuid</key>
			<string>$(AU_UPRIGHT_PLUGIN_UUID)</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>className</key>
			<string>AnyUprightUprightOSCPlugIn</string>
			<key>displayName</key>
			<string>AnyUpright::Upright OSC Name$(AU_PLUGIN_NAME_KEY_SUFFIX)</string>
			<key>group</key>
			<string>$(AU_PLUGIN_GROUP_UUID)</string>
			<key>infoString</key>
			<string>AnyUpright::Upright OSC Description</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>$(AU_UPRIGHT_PLUGIN_UUID)</string>
				<string>$(AU_HORIZON_PLUGIN_UUID)</string>
			</array>
			<key>uuid</key>
			<string>$(AU_UPRIGHT_OSC_UUID)</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
